In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_goups = pd.read_csv('../data/PeopleAtPark.csv')
print(df_goups.head())

   Unnamed: 0         id  timeSpentInPark  daysAtPark  numberCheckin  \
0           0  1591741.0          41994.0         1.0           27.0
1           1   825652.0         120222.0         3.0           58.0
2           2   179386.0         103244.0         3.0           50.0
3           3   531348.0          57521.0         2.0           28.0
4           4  1483004.0          42042.0         1.0           20.0

   distanceTraveled  numberThrill  numberKiddie  numberEveryone  numberShows  \
0       1054.563445          11.0           8.0             6.0          2.0
1       2282.952296          24.0          16.0            12.0          6.0
2       2303.348577          24.0           7.0            12.0          7.0
3       1181.540306          13.0           2.0             9.0          4.0
4        875.279215          10.0           3.0             1.0          6.0

   numberInfo
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0

# Get basic information about the dataset

from describe we see that we have non-null

In [ ]:

# Summary statistics
print(df_goups.info())

From describe we see alot of interestng info from the mean of some columns; averaging 56654 sekunds, 28 check ins, number pf thrills 15

In [9]:

# Summary statistics
print(df_goups.describe())

         Unnamed: 0            id  timeSpentInPark    daysAtPark  \
count  11455.000000  1.145500e+04     11455.000000  11455.000000
mean    5727.000000  1.054906e+06     56654.309123      1.537931
std     3306.918001  6.050129e+05     31621.107341      0.751767
min        0.000000  4.360000e+02         0.000000      1.000000
25%     2863.500000  5.361820e+05     35343.000000      1.000000
50%     5727.000000  1.053269e+06     44759.000000      1.000000
75%     8590.500000  1.581155e+06     77154.000000      2.000000
max    11454.000000  2.096715e+06    147569.000000      3.000000

       numberCheckin  distanceTraveled  numberThrill  numberKiddie  \
count   11455.000000      11455.000000  11455.000000  11455.000000
mean       28.706940       1215.017946     15.289393      4.973549
std        19.226139        830.422827     13.251149      4.088691
min         1.000000          0.000000      0.000000      0.000000
25%        16.000000        667.484020      7.000000      2.000000
50%        22.000000        948.035793     11.000000      4.000000
75%        35.000000       1524.078666     19.000000      7.000000
max       120.000000       5091.023219     94.000000     27.000000

       numberEveryone   numberShows    numberInfo
count    11455.000000  11455.000000  11455.000000
mean         5.646355      2.753121      0.044522
std          4.421920      2.189388      0.218591
min          0.000000      0.000000      0.000000
25%          3.000000      1.000000      0.000000
50%          4.000000      2.000000      0.000000
75%          8.000000      4.000000      0.000000
max         32.000000     14.000000      3.000000